#infotitle {
  text-align: center;
}

#loginalign {
  text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

#registerform {
  padding: 9%;
  margin-top: 5%;
}

#registercontainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

#footer {
  margin-bottom:3%;
}

#jumbo {
  background: url(../img/edit_brexit.jpg) no-repeat;
  background-size: 100%;
  opacity: 0.8;
  color: white;
}

#mainbutton {
  margin-left: 2%;
  margin-right: 1%;
  background-color: #efefef;
}

#copyright {
  margin-top: 4%;
  margin-bottom: 4%;
}

.UDN {
  margin-left: 1%;
  margin-right: 1%;
}

.article_info {
  margin-left: 2%;
}

.writericon {
  height: 65px;
  width: 65px;
}

.description {
 margin: 2% 2% 2% 2%;
}

.form-control {
  width: 100%;
}

.Gicon-up {
  color: red;
}

.Gicon-neut {
  color: green;
}

.Gicon-down {
  color: blue;
}

a {
  text-decoration: none;
}
