#infotitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#loginalign {
  text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

#registerform {
  padding: 9%;
  margin-top: 5%;
}

#registercontainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

#footer {
  margin-bottom:3%;
}

#jumbo {
  background: url(../img/edit_brexit.jpg) no-repeat;
  background-size: 100%;
  opacity: 0.8;
  color: white;
}

.UDN {
  margin-left: 5%;
  margin-right: 5%;
}

.form-control {
  width: 100%;
}
a {
  text-decoration: none;
}
